<figure class="card-product">
    <div class="img-wrap"><img src="/${ASSETURL}/${inmueble.portada}">
    </div>
    <figcaption class="info-wrap">

        <div class="label-rating"><i class="fa fa-map-marker" aria-hidden="true"></i>
            Dpto: ${inmueble.departamento} </div>
        <div class="label-rating"><i class="fa fa-map-marker" aria-hidden="true"></i>
            Ciudad: ${inmueble.ciudad} </div>
        <div class="label-rating"><i class="fa fa-map-marker" aria-hidden="true"></i>
            Direccion: ${inmueble.direccion} </div>

        <!-- <p class="desc">${inmueble.descripcion}</p> -->
        <div class="rating-wrap">
            <ul class="rating-stars">
                <li style="width:80%" class="stars-active">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i>
                </li>
            </ul>
            <hr>

            ${(inmueble.tipo != 'local' && inmueble.tipo != 'bodega') ? ' <div class="label-rating"> <i
                    class="fa fa-bed" aria-hidden="true"></i> '
                + inmueble.habitaciones + ' Habitaciones</div>' : ''}
        </div>

        <div class="label-rating"><i class="fa fa-bath" aria-hidden="true"></i>
            ${inmueble.habitaciones} Baños</div>
        <div class="label-rating"><i class="fa fa-car" aria-hidden="true"></i>
            ${inmueble.parqueadero} </div>
        <hr>
        <div class="label-rating"><i class="fa fa-bath" aria-hidden="true"></i>
            ${inmueble.habitaciones} Baños</div>
        <div class="label-rating"><i class="fa fa-car" aria-hidden="true"></i>
            ${inmueble.parqueadero} </div>
        <div class="label-rating"><i class="fa fa-bath" aria-hidden="true"></i>
            ${inmueble.habitaciones} Baños</div>
        <div class="label-rating"><i class="fa fa-car" aria-hidden="true"></i>
            ${inmueble.parqueadero} </div>
        <div class="label-rating"><i class="fa fa-bath" aria-hidden="true"></i>
            ${inmueble.habitaciones} Baños</div>
        <div class="label-rating"><i class="fa fa-car" aria-hidden="true"></i>
            ${inmueble.parqueadero} </div>

    </figcaption>
    <div class="bottom-wrap">
        <div class="price-wrap h5">

            <span class="price-new">

                ${(inmueble.proposito == 'arrendamiento') ? 'Canon : $' + inmueble.canon : 'Precio : $' +
                inmueble.precio}</span>

        </div>
    </div>
</figure>

<div class="col-md-12">
    <div>
        <span>Description</span>
        <span class="text-center">
            <p class="text-justify">
                ${inmueble['descripcion']} </p>
        </span>
    </div>
</div>

<div class="card">
    <div class="card text-left">
        <table class="table table-responsive">
            <tr>
                <td class="col-sm-3 " scope="row">
                    Proposito
                </td>
                <td class="col-sm-3" scope="row">
                    ${inmueble['proposito']}
                </td>
            </tr>
            <tr>
                <td class="col-sm-3 " scope="row">
                    Habitaciones
                </td>
                <td class="col-sm-3" scope="row">
                    ${inmueble['habitaciones']}
                </td>
            </tr>
            <tr>
                <td class="col-sm-6" scope="row">
                    Cuidad
                </td>
                <td class="col-sm-6" scope="row">
                    ${inmueble['ciudad']}
                </td>
            </tr>
            <tr>
                <td class="col-sm-6" scope="row">
                    Direción
                </td>
                <td class="col-sm-6" scope="row">
                    ${inmueble['direccion']}
                </td>
            </tr>

        </table>
    </div>
</div>
</div>
